* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}

header {
    border-bottom: 10px solid #da5d15;
    height: 50px;
    font-size: 25px;
    position: fixed
}

main {
    padding: 60px 0;
}

header,
footer {
    line-height: 50px;
    width: 100%;
    background-color: #308e9c;
}

footer {
    border-bottom: 8px solid #18135e;
    position: absolute;
    bottom: 0;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

img {
    margin: 10px auto
}

li {
    text-decoration: none;
    display: inline;
}

.text-right {
    text-align: right;
}

body {
    position: relative;
    background-color: #e9d48b;
    font-size: 20px;
}

img {
    display: block;
    margin: 20px auto
}

a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: black
}

figcaption {
    padding: 10px;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid grey;
    border-radius: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

h2 {
    padding: 20px;
    border-top: 2px #da5d15 solid;
}

section {
    background-color: blanchedalmond;
}
  
.email {
    padding: 0;
    margin: 0;
    text-decoration: underline;
}

p {
    padding: 0 20px 20px 20px;
}

.text-center {
    text-align: center;
}

button {
    background-color: slategrey;
    color: white;
    height: 30px;
    width: 100px;
}

figure {
    margin-bottom: 20px;
}

input {
    width: 300px;
}

#section-bottom {
    padding-bottom: 20px;
}
  